<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.applicationHost>
    <sites>
      <site name="KindergartenSystem" id="1" serverAutoStart="true">
        <application path="/">
          <virtualDirectory path="/" physicalPath="C:\Users\hero_\OneDrive\Masaüstü\KindergartenSystem" />
        </application>
        <bindings>
          <binding protocol="http" bindingInformation=":44317:localhost" />
          <binding protocol="https" bindingInformation=":44318:localhost" />
        </bindings>
      </site>
    </sites>
  </system.applicationHost>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>